* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 100%;
  
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    height: 7%;
    line-height: 75px;
    background: #0a5694;
  }
  nav .navbar-brand {
    color: #ffffff;
    font-size: 2.4em;
    font-weight: 500;
    letter-spacing: .5px;
    text-decoration: none;
  }
  nav .navbar-brand:hover {
    text-decoration: underline;
  }
  nav .nav-list {
    display: flex;
  }
  nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 2rem;
    list-style-type: none;
  }
  nav .nav-list .nav-item:hover {
    background: rgba(59, 69, 100, 0.932);
  }
  nav .nav-list .nav-link {
    color: #f1f1f1;
    font-size: 1.5em;
    text-decoration: none;
  }
  .property {
    background-image: url(img\ 2.jpeg);
    background-color: blue;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .set {
    color: white;
    padding-top: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .set>h1 {
    padding-bottom: 2rem;
    letter-spacing: 6px;
  }
  .set>p {
    padding-bottom: 2rem;
  }
  .set>button {
    padding: 0.5rem 0.5rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .set>button:hover {
    background-color: #04558b;
    color: white;
  }
  .bi {
    height: 50vh;
    align-items: center;
    display: flex;
    background-color: #e8e4e5;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0rem;
  }
  .bi-1, .bi-2, .bi-3{
    width: 30vw;
    padding: 3rem;
  }
  .bi-1>h2, .bi-2>h2, .bi-3>h2 {
    color: #005d9a;
    padding-bottom: 2rem;
  }
  .infor {
    display: flex;
    align-items: center;
    height: 50vh;
    background-color: #005d9a;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 0rem;
  }
  .infor-1, .infor-2, .infor-3{
    width: 100%;
    padding: 3rem;
  }
  .pro {
    background-color: #03426b;
    color: aliceblue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
  }
  .pro-div {
    display: flex;
  }
  .pro>h1 {
    padding: 5rem 0rem 2rem 3rem;  
    font-size: 2rem;
  }
  .pro-d {
    margin: 1rem;
  padding-top: 4rem;
  }
  .pro-1>img{
    width: 65%;
  }
  .pro-1 {
    display: flex;
    width: 40vw;
    height: 60vh;
    padding: 1rem 0rem 3rem 3rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pro-2 {
    display: flex;
    width: 40vw;
    height: 60vh;
    padding: 1rem 0rem 3rem 12rem;
    /* padding: 3rem; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .t {
    background-color: #e9e5e6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .t-1>img,  .t-2>img,  .t-3>img {
    width: 25vw;
    height: 50vh;
    /* margin: 20px; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .t-1 {
    margin: 0rem;
    padding: 2.5rem;
    padding-left: 0rem;
  }
  .t-2, .t-3 {
    margin: 0rem;
    padding: 2.5rem;
  }
  .bot {
    display: flex;
    margin-left: 3rem;
    padding-bottom: 3rem;
  }
  .t-div>h1 {
    color: #005d9a;
  }
  .t-div {
    padding: 5rem 0rem 3rem 3rem;
  }
  .t-1>h6,  .t-1>h4,  .t-2>h6,  .t-2>h4,  .t-3>h6,  .t-3>h4 {
    color: #005d9a
  }
  .t-1>button, .t-2>button, .t-3>button {
    background-color: #e27b00;
    color: white;
    border-radius: 20%;
    padding: 0.4em;
  }
  .foot {
    background-color: #03426b;
    color: white;
    height: 24vh;
  }
  .foot-p>p {
    padding-top: 2rem;
  }
  .foot-p { 
    text-align: center;
  }
  @media screen and (max-width:1200px) {
    .foot {
      height: 25vh;
    }
    nav .navbar-brand {
      font-size: 2.5em;
    }
    nav .nav-list .nav-item {
      padding:0 0.5rem;
      font-size: 0.8em; 
    }
    .pro-1>img{
      width:70%;
    }
    .pro-d{
    padding-top: 4rem;
    }
  }
  .foot-link {
    color: white;
  } 
  @media screen and (max-width:992px) {
    .foot {
      height: 25vh;
    }
    nav .navbar-brand {
      font-size: 2em;
    }
    nav .nav-list .nav-item {
      padding:0 0.5rem;
      font-size: 0.7em; 
    }
    .pro-d{
  padding-top: 4rem;
    }
    .pro-2{
      padding-left: 7rem;
    }
  }
  @media screen and (min-width:769px) and (max-width:945px) {
    
  .pro-2>img{
    width: 90%;
  }
  .t-3{
    padding-left:0rem ;
    padding-right: 1rem;
  }
  
  }
   @media screen and (max-width:768px) {
    .foot {
      height: 25vh;
    }
    .infor-1>h2, .infor-2>h2, .infor-3>h2{
      padding-bottom: 2rem;
    }  
    nav .navbar-brand {
      font-size: 2em;
    }
    nav .nav-list .nav-item {
      padding:0 0.3rem;
      font-size: 0.6em;
    }
    .pro{
      height: 60vh;
    }
   .pro-1>img{
  width: 80%;
  padding: 0rem;
  height:30vh;
  }
  .pro-2>img{
    height: 30vh;
    width: 90%;
  padding: 0rem;
   }
   .pro-2{
    padding: 2rem;
    padding-left: 5rem;
  }
  .pro-1{
    padding: 2rem;
    padding-left: 3rem;
   }
   .pro-d{
    height:50vh;
    padding-top: 2rem;
   }
   .pro>h1{
    padding: 3rem;
   }
   .t-1>img, .t-2>img, .t-3>img{
    width: 100%;
    height: 30vh;
     padding: 0.5rem; 
     padding-bottom: 2rem;
  }
   .bot{
    margin:0rem
   }
   .t-1{
  padding: 1rem 1rem 1rem 2rem;
   }
   .t-2{
  padding: 1rem 0.5rem 1rem 0.5rem;
  }
  .t-3{
     padding: 1rem 2rem 1rem 0.5rem;
  
   }
   .infor{
    height: 25vh;
   }
   .bi{
    height: 40vh;
  }
  .bi-1, .bi-2, .bi-3{
    width:100%
   }
   .property{
    height: 40vh;
   }
  }   
  @media  screen and (min-width:601px) {
    .infor-3, .infor-2{
      padding-right: 0rem;
      padding-left: 0rem;
    }
    .infor-1{
      padding-right: 0rem;
      padding-left: 3rem;
    }
  }
  @media screen and (max-width:600px){
    .property{
      height: 70vh;
    }
    .set {
      display: flex;
      justify-content: flex-start;
    }
    .infor {
      display: block;
      align-items: center;
      height: 60%;
      background-color: #005d9a;
      padding-top: 2rem;
    }
    .infor-1{
      padding-top:0rem ;
    }
    .infor-1>h2, .infor-3>h2, .infor-3>h2{
      padding-bottom: 2rem;
    }
    .bi {
      display: block;
      align-items: center;
      height: 70%;
      padding-top: 1rem;
    }
    .t {
      display: block;
      align-items: center;
      height: 70%;
    }
    .t-div{
      padding-left: 2rem;
    }
    .pro {
      display: block;
      align-items: center;
      height: 70%;
    }
  .pro-1, .pro-2{
    padding-left: 3rem;
  }
  .pro-d{
    padding: 0.3rem;
    width: 100%;
  }
    .bot {
      display: block;
    }
    .pro>h1 {
      padding: 3rem;
      padding-top: 2rem;
  }
    .t-1>img, .t-2>img, .t-3>img {
      width: 100%;
      padding: 0;
      padding-bottom: 1rem;
    } 
    .t-1, .t-2, .t-3 {
      padding-left:2rem ;
      padding-right:5rem ;
    }
    .pro-div {
      display: block;
      align-items: center;
      height: 120vh;
      width: 60vw;
    }
    .pro-1>img{ 
          
          height:40vh;
          width:130%   } 
    .pro-2>img {
  height: 40vh;
      width: 150%;
    }
    .foot {
      height: 25vh;
    }
    nav .nav-list {
      background: #005d9a;
      display: grid;
      position: absolute;
      width: 100%;
      top: 66px;
      left: 0;
      transform: translateY(-100%);
      z-index: -1;
      transition: .6s;
      color: white;
    }
    nav .nav-list .nav-item {
      padding-left: 35px;
    }
    nav .navbar-toggler {
      display: grid !important;
    }
  }
  nav{
    height: 8vh;
  }
  nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
  }
  nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
  }
  input {
    display: none;
  }
  input:checked~nav .nav-list {
    transform: translateY(0);
    z-index: 1;
  }
  input:checked~nav .navbar-toggler {
    margin-top: 35px;
  }
  input:checked~nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
  }
  input:checked~nav .navbar-toggler .bar:nth-child(2) {
    display: none; 
  }
  input:checked~nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  @media screen and (max-width:414px) {
    nav{
      height: 8vh;
    }
    .property{
      height:50vh;
    }
    .set {
      align-items: center;
      padding: 1rem;
  padding-top: 5rem;
    }
    .set>h1 {
      font-size: 20px;
      padding-bottom: 3rem;
      padding-top: 4rem;
      letter-spacing: 1em7px;
    }
    .set>p {
      padding-bottom: 2rem;
    }
    .bi {
      display: inline-block;
      align-items: center;
      height: 60vh;
      padding: 1rem;
      padding-top: 3rem;
    }
    .bi-1>h2 {
      color: #005d9a;
      padding-bottom: 1rem;
      width: 70%;
    }
    .bi-2>h2 {
      color: #005d9a;
      padding-bottom: 1rem;
      width: 70%;
    }
    .bi-3>h2 {
      color: #005d9a;
      padding-bottom: 1rem;
      width: 50%;
    }
    .bi-1, .bi-2, .bi-3 {
      width: 100%;
      padding: 1rem;
    }
    .infor {
      display: block; 
      height: 60vh;
      background-color: #005d9a;
      padding-top: 4rem;
      padding-left: 1rem;
      width: 100%;  
    }
    .infor-1, .infor-2, .infor-3 {
      width: 100%;
      padding: 1rem;
    }  
    .infor-1>h2, .infor-2>h2, .infor-3>h2 {
      padding-bottom: 3rem;
    }
    .pro {
      display: block;
      align-items: center;
      height: 120vh;
      padding: 1rem;
    }
    .pro-2, .pro-1{
      padding: 0.5rem;
    }
      .pro>h1 {
        margin-left: 0rem;
        padding: 2rem 0rem 2rem 1rem;
      }
    .pro-d{
      padding-top: 3rem;
    }
      .pro-div {
        display: block;
        width: 40vw;
        margin: 0;
      }  
      .pro-1>img, .pro-1>img {    
        width: 50vw;
        margin-left: 0rem;
        margin: 0;
      }
    .bot {
      display: block;
      margin:0;
      padding:2rem;
    }
    .t {
      display: block;
      align-items: center;
      height: 70%;
      padding-left: 0rem;
    }
    .t-1>img, .t-1>img, .t-1>img {
      width: 100%;
      height: 30vh;
    }
    .t-1, .t-2, .t-3 {
      padding-bottom: 2rem;
      padding-left: 0rem;
      padding-right: 1rem;
    }
    .t-div {
      padding-right: 2rem;
      padding-left: 2rem;
    }
    .foot {
      height: 25vh;
    }
    .foot-p {
      display: block;
      text-align: center;
    }
  }
  @media screen and (max-width:300px) and (min-width:50px)  {
    body{
      margin: 0;
      padding: 0;
      width: 100%;
    }
    html{
      width: 500px;
    }
  }
  